<div class="container mt-1" style="margin-bottom: -1rem; z-index: 200;">
  <div class="row justify-content-center">
    <div class="col-4">
      <img src="../../assets/Images/Mascotas.png" width="250" height="57" style="margin-left: 3.5rem;">
    </div>
  </div>
</div>
<mat-card class="container" style="z-index: -200;">
  <div class="row">
    <div class="col-lg-2" [formGroup]="formGroup">
      <mat-form-field class="w-100" >
        <mat-label>Especie</mat-label>
        <mat-select formControlName="specie">
          <mat-option *ngFor="let specie of species" [value]="specie">
            {{ specie }}
          </mat-option>
        </mat-select>
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="$event.stopPropagation(formGroup.get('specie').reset())"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="col-lg-3" [formGroup]="formGroup">
      <mat-form-field class="w-100" >
        <mat-label>Tamaño</mat-label>
        <mat-select formControlName="size">
          <mat-option *ngFor="let size of sizes" [value]="size.id">
            {{ size.label }}
          </mat-option>
        </mat-select>
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="$event.stopPropagation(formGroup.get('size').reset())"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="col-lg-2" [formGroup]="formGroup">
      <mat-form-field class="w-100" >
        <mat-label>Edad</mat-label>
        <mat-select formControlName="age">
          <mat-option *ngFor="let age of ages" [value]="age">
            {{ age }}
          </mat-option>
        </mat-select>
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="$event.stopPropagation(formGroup.get('age').reset())"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="col-lg-3" [formGroup]="formGroup">
      <mat-form-field class="w-100" >
        <mat-label>Ciudad</mat-label>
        <mat-select formControlName="city">
          <mat-option *ngFor="let city of cities" [value]="city.label">
            {{ city.label }}
          </mat-option>
        </mat-select>
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="$event.stopPropagation(formGroup.get('city').reset())"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="col-lg-1 z2">
      <button
        mat-raised-button
        class="floater"
        (click)="loadTable()"
      > Refrescar
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>
</mat-card>

<mat-card class="container mt-1 mb-3">
  <mat-card-content>
    <mat-table [dataSource]="dataTable" matSort matSortDisableClear>

      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell
        >
        <mat-cell *matCellDef="let pet">
          <!-- <span class="mobile-label nombre">Nombre:</span> -->
          <div class="nombre" [matTooltip]="pet.nombre">{{ pet.nombre }}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="especie">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Especie</mat-header-cell
        >
        <mat-cell *matCellDef="let pet">
          <!-- <span class="mobile-label nombre">Nombre:</span> -->
          <div [matTooltip]="pet.especie">{{ pet.especie }}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tamano">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Tamaño</mat-header-cell
        >
        <mat-cell *matCellDef="let pet">
          <!-- <span class="mobile-label nombre">Nombre:</span> -->
          <div [matTooltip]="convertSize(pet.tamano)">{{ convertSize(pet.tamano) }}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="edad">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Edad</mat-header-cell
        >
        <mat-cell *matCellDef="let pet">
          <!-- <span class="mobile-label nombre">Nombre:</span> -->
          <div [matTooltip]="pet.edad">{{ pet.edad }}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ciudad">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Ciudad</mat-header-cell
        >
        <mat-cell *matCellDef="let pet">
          <!-- <span class="mobile-label nombre">Nombre:</span> -->
          <div [matTooltip]="pet.ciudad">{{ pet.ciudad }}</div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns" style="margin-top: -1rem; margin-bottom: -1rem;"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" style="margin-top: -0.5rem; margin-bottom: -0.5rem;"></mat-row>
    </mat-table>
    <mat-paginator
      [length]="this.dataTable.length"
      [pageSize]="10"
      style="margin-bottom: -1rem;"
    ></mat-paginator>
  </mat-card-content>
</mat-card>

<app-whatsapp-button></app-whatsapp-button>
