<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
<nav class="navbar navbar-expand-lg fixed-top navbar-scroll">
  <img src="../../assets/Images/firuIcon.png" width="40" height="35" class="d-inline-block align-top mr-1" alt="">
  <img src="../../assets/Images/firuwebName.png" width="80" height="20" class="d-inline-block align-top mr-1" alt="">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav ml-auto">                   <!-- the ml-auto keeps navbar content on the right side -->
      <li class="nav-item mr-4">
        <a class="nav-link" href="#">Buscar Mascota</a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" href="#">Adopción</a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" href="#">Inicio de Sesión</a>
      </li>
    </ul>
  </div>

</nav>
