<p>login works!</p>
<button [routerLink]="['/register']" routerLinkActive="router-link-active" >ir a register</button>



<section class="ingreso">
  <div class="contenedor">
    <a href="index.html">Home</a>
    <h3 class="titulo">¡Qué bueno verte de vuelta!</h3>
    <form class="formulario-login" action="">
      <input type="email" placeholder="Email" name="email" required>
      <input type="text" placeholder="Contraseña" name="password" required>
      <input class="boton" type="submit" value="Ingresar">
    </form>
  </div>
</section>

<div class="cta-registro">
    <a href="formRegistro.html">¿Primera vez en la Firuweb? Registrate</a>
</div>
