<!-- style="margin-left: 12rem; margin-top: 18rem; width:27rem" -->

    <img id="aca" class="row context logo-position" src="../../assets/Images/firuIconSit.png"  [ngStyle]="{'margin-top': this.indexTab ? '8rem' : '3rem'}">
    <mat-card class="container context orange mat-card-position" [ngStyle]="{'margin-top': this.indexTab ? '16rem' : '11rem'}">
      <div class="row">
        <mat-tab-group mat-stretch-tabs class="col justify-content-center" (selectedTabChange)="selectedTab($event.index)">

          <mat-tab label="Logueate" [formGroup]="loginForm">
            <div class="col white">

              <div class="row mb-2 mt-3">
                <mat-form-field class="w-100">
                  <input matInput type="text" placeholder="Usuario/Email" formControlName="userLog" required maxlength="30"/>
                </mat-form-field>
              </div>

              <div class="row">
                <mat-form-field class="w-100">
                  <input matInput type="text" placeholder="Contraseña" formControlName="passwordLog" required [type]="show ? 'text' : 'password'"/>
                  <mat-icon matSuffix (click)="password()">{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
              </div>

              <div class="row">
                <button mat-raised-button color="primary" class="col justify-content-center" (click)="login()" [disabled]="loginForm.invalid">Loguearme</button>
              </div>

            </div>
          </mat-tab>

          <mat-tab label="Registrate" [formGroup]="registerForm">

            <div class="col white">

              <div class="row mb-2 mt-3">
                <mat-form-field class="w-100">
                  <input matInput type="text" placeholder="Nombre" formControlName="firstName" required/>
                </mat-form-field>
              </div>

              <div class="row">
                <mat-form-field class="w-100">
                  <input matInput type="text" placeholder="Apellido" formControlName="lastName" required/>
                </mat-form-field>
              </div>

              <div class="row">
                <mat-form-field class="w-100">
                  <input matInput type="text" placeholder="Usuario" formControlName="user" required maxlength="15"/>
                  <!-- <mat-error *ngIf="invalidar == true"> -->
                  <mat-error *ngIf="this.registerForm.get('user').invalid || this.invalidateUser == true">{{getUserErrorMessage()}}</mat-error>
                  <mat-hint>Máximo 15 caracteres</mat-hint>
                </mat-form-field>
              </div>

              <div class="row">
                <mat-form-field class="w-100">
                  <input matInput type="text" placeholder="Email" formControlName="email" required/>
                  <mat-error *ngIf="this.registerForm.get('email').invalid || this.invalidateEmail == true">{{getEmailErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>

              <div class="row">
                <mat-form-field class="w-100">
                  <input matInput type="text" placeholder="Contraseña" formControlName="password" required [type]="show ? 'text' : 'password'"/>
                  <mat-icon matSuffix (click)="password()">{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
                <!-- <span mat-button class="material-icons" (click)="password()" style="width: 10%;padding-top: 3%;">
                  {{show ? 'visibility_off' : 'visibility'}}
                </span> -->

              </div>

              <div class="row">
                <button mat-raised-button color="primary" class="col justify-content-center" (click)="register()" [disabled]="registerForm.invalid">Registrarme</button>
              </div>

            </div>

          </mat-tab>

        </mat-tab-group>
      </div>
    </mat-card>

<!-- FONDO ANIMADO, TIENE QUE IR ABAJO PARA QUE FUNCIONE -->
<div class="area">
  <!-- <img class="elevation" src="../../../assets/Images/queMascotaBuscas.png" style="width: 30rem; margin-left:32rem; top: 50vh;"> -->
  <ul class="circles">
    <!-- cat wools -->
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
  </ul>
  <!-- dog bones -->
  <ul class="bones">
    <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
  </ul>
  <ul class="circles2">
    <!-- cat wools 2-->
      <li class="cat-wools2"></li>
      <li class="cat-wools2"></li>
      <li class="cat-wools2"></li>
      <li class="cat-wools2"></li>
      <li class="cat-wools2"></li>
      <li class="cat-wools2"></li>
      <li class="cat-wools2"></li>
      <li class="cat-wools2"></li>
      <li class="cat-wools2"></li>
      <li class="cat-wools2"></li>
  </ul>
  <!-- dog bones 2-->
  <ul class="bones2">
      <li class="dog-bones2"></li>
      <li class="dog-bones2"></li>
      <li class="dog-bones2"></li>
      <li class="dog-bones2"></li>
      <li class="dog-bones2"></li>
      <li class="dog-bones2"></li>
      <li class="dog-bones2"></li>
      <li class="dog-bones2"></li>
      <li class="dog-bones2"></li>
      <li class="dog-bones2"></li>
  </ul>
</div >
