<div class="social-bar2" id="title" *ngIf="iconValid && !close">
  <span class="material-icons cancel" (click)="close=true">cancel</span>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
  <span style="padding:1rem;border-radius: 15px; width: 250px; background-color: rgba(234, 234, 234, 0.725);">
    ¿No conseguiste la mascota que buscabas? Hace click <a  routerLink="/forms/espera" class="" style="color: rgb(0, 17, 255)">aca</a> para llenar formulario y notificarte cuando encontremos una mascota con las caracteristicas que deseas!
  </span>
</div>
