<!-- <body class="noSC"> -->
<body class="">
  <app-navbar [userLogged]="this.sendLogged"></app-navbar>
  <app-welcome-carousel ></app-welcome-carousel>
</body>


























<!-- <header>
  <div class="contenedor">

    <nav class="menu">
        <a href="listaPets.html">Buscar una mascota</a>
        <a href="yesnoPublicar.html">Ofrecer en adopción</a>
        <a href="formLogin.html">Iniciar sesión</a>
    </nav>

    <div class="contenedor-texto">
      <div class="texto">
        <h1 class="nombre"> Firuweb</h1>
        <h2 class="slogan"> ADOPTÁ UN AMIGO</h2>
      </div>
    </div>

  </div>
</header>

<section class="main">

  <section class="acerca-de">

    <div class="contenedor">

      <div class="logo">
        <img src="../../assets/Images/firuweb bn.png" width="115" height="115" alt="Logo Firuweb">
      </div>

      <div class="texto">
        <h3 class="titulo">¡Hola!</h3>
        <p>
          <span class="bold">Te damos la bienvenida a Firuweb.</span>
        Queremos que te encuentres con la mascota que siempre quisiste tener.</p>
      </div>

    </div>

    </section>

    </section>

    <section class="footer">
      <footer>Powered by Corazón Mestizo</footer>
</section> -->

