<div class="context" style=" margin-top:10rem;">
  <!-- CONTENIDO DE FILTRO -->
  <img [@rounding]="getStartCommand" class="row" src="../../../assets/Images/queMascotaBuscas.png" style="width: 30rem; margin-left:32rem">

  <div class="container mt-5">
    <mat-card>
      <div class="row">
        fff
      </div>
      <div class="row">
        fff
      </div>
      <div class="row">
        fff
      </div>
    </mat-card>
  </div>

</div>

<!-- FONDO ANIMADO, TIENE QUE IR ABAJO PARA QUE FUNCIONE -->
<div class="area">
  <!-- <img class="elevation" src="../../../assets/Images/queMascotaBuscas.png" style="width: 30rem; margin-left:32rem; top: 50vh;"> -->
  <ul class="circles">
    <!-- cat wools -->
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
  </ul>
  <!-- dog bones -->
  <ul class="bones">
    <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
  </ul>
</div >
