/* @import url('https://fonts.googleapis.com/css?family=Exo:400,700'); */


.noSC {
  overflow: hidden; /* Hide scrollbars */
}

*{
  margin: 0px;
  padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}

.context {
  width: 100%;
  position: absolute;
  /* top:50vh; */
  z-index: 50;
}

.area{
  background: rgb(241,211,40);
  background: linear-gradient(165deg, rgba(241,211,40,1) 0%, rgba(255,195,52,1) 59%, rgba(255,157,0,1) 100%);
  /* background: #e7e067; */
  /* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8); */
  width: 100%;
  height:100vh;
}

/*------------------------------------------------ CAT WOOLS -------------------------------------------*/

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles .cat-wools{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0);
  content: url('../../../src/assets/Images/woolYarnLogo.png');
  animation: animate 25s linear infinite;
  bottom: -150px;
  z-index:0;
}

.circles .cat-wools:nth-child(1){
  left: 25%;
  width: 110px;
  height: 80px;
  animation-delay: 0s;
}


.circles .cat-wools:nth-child(2){
  left: 10%;
  width: 29px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles .cat-wools:nth-child(3){
  left: 70%;
  width: 29px;
  height: 20px;
  animation-delay: 4s;
}

.circles .cat-wools:nth-child(4){
  left: 40%;
  width: 80px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles .cat-wools:nth-child(5){
  left: 65%;
  width: 29px;
  height: 20px;
  animation-delay: 0s;
}

.circles .cat-wools:nth-child(6){
  left: 75%;
  width: 80px;
  height: 60px;
  animation-delay: 3s;
}

.circles .cat-wools:nth-child(7){
  left: 35%;
  width: 110px;
  height: 80px;
  animation-delay: 7s;
}

.circles .cat-wools:nth-child(8){
  left: 50%;
  width: 34px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles .cat-wools:nth-child(9){
  left: 20%;
  width: 21px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles .cat-wools:nth-child(10){
  left: 85%;
  width: 110px;
  height: 80px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 0%;
  }
}

/* -------------------------------------------------------- DOG BONES ---------------------------------------------------- */

.bones{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bones .dog-bones{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0);
  content: url('../../../src/assets/Images/dogBoneLogo.png');
  animation: animateDog 25s linear infinite;
  bottom: -150px;
  z-index:0;
}

.bones .dog-bones:nth-child(1){
  left: 5%;
  width: 110px;
  height: 80px;
  animation-delay: 0s;
}

.bones .dog-bones:nth-child(2){
  left: 18%;
  width: 29px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.bones .dog-bones:nth-child(3){
  left: 32%;
  width: 29px;
  height: 20px;
  animation-delay: 4s;
}

.bones .dog-bones:nth-child(4){
  left: 77%;
  width: 80px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.bones .dog-bones:nth-child(5){
  left: 87%;
  width: 29px;
  height: 20px;
  animation-delay: 0s;
}

.bones .dog-bones:nth-child(6){
  left: 56%;
  width: 80px;
  height: 60px;
  animation-delay: 3s;
}

.bones .dog-bones:nth-child(7){
  left: 45%;
  width: 110px;
  height: 80px;
  animation-delay: 7s;
}

.bones .dog-bones:nth-child(8){
  left: 35%;
  width: 34px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.bones .dog-bones:nth-child(9){
  left: 95%;
  width: 21px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.bones .dog-bones:nth-child(10){
  left: 24%;
  width: 110px;
  height: 80px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animateDog {
  0%{
    transform: translateY(-1000px) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100%{
    transform: translateY(0px) rotate(720deg);
    opacity: 0;
    border-radius: 0%;
  }
}


/* TITLE ANIMATION */

.context #title {
  transition-delay: 1s;
  transform-origin:center 800px;
  animation:rotateTitle 0.7s linear;
}
/* .context:before { content:''; position:absolute; height:100%; width:100%; background:blue; animation:rotate 3s linear reverse infinite; } */
@keyframes rotateTitle {
  0% {
    transform:rotate(-60deg);
    opacity: 0;
  }
  100% {
    transform:rotate(0deg);
    opacity: 1;
  }
}

/* SELECCION ANIMATION */

.context #selection {
  /* position: absolute; */
  /* display: block; */
  /* list-style: none; */
  transition-delay: 30000;
  /* transform-origin:center 800px; */
  animation:fadeInSelection 0.4s linear;
  /* bottom: -150px; */
}
/* .context:before { content:''; position:absolute; height:100%; width:100%; background:blue; animation:rotate 3s linear reverse infinite; } */
@keyframes fadeInSelection {
  0%{
    transform: translateY(1000px);
    opacity: 1;
  }

  100%{
    transform: translateY(0px);
    opacity: 0;
  }
}
