<div class="context" style=" margin-top:8rem;">
  <!-- CONTENIDO DE FILTRO -->
  <div id="title" class="mb-5">
    <img class="row" src="../../../assets/Images/queMascotaBuscas.png" style="width: 30rem; margin-left:32rem">
  </div>

  <!-- <div [@rounding]="getStartCommand" > -->
    <div id="selection" class="mt-5">
    <div class="row">
      <div class="col-4"></div>
      <div class="col ml-2">
        <img src="../../assets/Images/firuIconSit.png" alt="">
        <img src="../../assets/Images/firuIconMfCat.png" alt="">
      </div>
    </div>
  </div>

</div>

<!-- FONDO ANIMADO, TIENE QUE IR ABAJO PARA QUE FUNCIONE -->
<div class="area">
  <!-- <img class="elevation" src="../../../assets/Images/queMascotaBuscas.png" style="width: 30rem; margin-left:32rem; top: 50vh;"> -->
  <ul class="circles">
    <!-- cat wools -->
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
      <li class="cat-wools"></li>
  </ul>
  <!-- dog bones -->
  <ul class="bones">
    <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
      <li class="dog-bones"></li>
  </ul>
</div >
