<div class="">
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel"  data-pause="false">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="8000">
        <img src="../../../assets/Images/catsdogsfinalFIXED2.png" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">

          <img class="row" src="../../../assets/Images/adopta.png" style="width: 25rem; margin-bottom:-2rem;  margin-left:21rem">
          <img id="aca" class="row hovers" src="../../assets/Images/firuIconLayAdoptar2.png" style="width: 10rem; margin-bottom:15rem; margin-left:29rem" (click)="toFilterPage()">

          <h5 class="lead">Te damos la bienvenida a Firuweb</h5>
          <p ><em>Queremos que te encuentres con la mascota que siempre quisiste tener</em></p>
        </div>
      </div>
      <div class="carousel-item"  data-interval="5000">
        <img src="../../../assets/Images/welcomebannerFIX.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">

          <img src="../../../assets/Images/adopta.png" class="" style="width: 25rem; margin-bottom: -2rem; margin-left: -45rem;">
          <img id="aca" class="row hovers" src="../../assets/Images/firuIconLayAdoptar2.png" style="width: 10rem; margin-bottom:14rem; margin-left:6rem" (click)="toFilterPage()">

          <h5 class="lead">Te damos la bienvenida a Firuweb</h5>
          <p ><em>Queremos que te encuentres con la mascota que siempre quisiste tener</em></p>
        </div>
      </div>
      <div class="carousel-item"  data-interval="5000">
        <img src="../../../assets/Images/labFIX.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">

          <img src="../../../assets/Images/adopta.png" class="" style="width: 25rem; margin-bottom: -2rem; margin-left: 35rem;">
          <img id="aca" class="row hovers" src="../../assets/Images/firuIconLayAdoptar2.png" style="width: 10rem; margin-bottom:12rem; margin-left:46rem" (click)="toFilterPage()">

          <h5 class="lead">Te damos la bienvenida a Firuweb</h5>
          <p ><em>Queremos que te encuentres con la mascota que siempre quisiste tener</em></p>
        </div>
      </div>
      <div class="carousel-item"  data-interval="5000">
        <img src="../../../assets/Images/puppyFIX.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">

          <img src="../../../assets/Images/adopta.png" class="" style="width: 25rem; margin-bottom: -2rem; margin-left: -24rem;">
          <img id="aca" class="row hovers" src="../../assets/Images/firuIconLayAdoptar2.png" style="width: 10rem; margin-bottom:12rem; margin-left:16rem" (click)="toFilterPage()">

          <h5 class="lead">Te damos la bienvenida a Firuweb</h5>
          <p ><em>Queremos que te encuentres con la mascota que siempre quisiste tener</em></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>

</div>
