<div class="container mt-5" style="margin-bottom: -0.7rem; z-index: 200;">
  <div class="row justify-content-center">
    <div class="col-4">
      <img src="../../assets/Images/AdoptantesEnEspera.png" width="400" height="50" style="margin-left: -2rem;">
    </div>
  </div>
</div>
<mat-card class="container align-items-center w-50" style="z-index: -200;">
  <hr>
  <div class="row justify-content-center" >

    <div class="col-lg-5" [formGroup]="formGroup">
      <mat-form-field class="w-100">
        <input matInput placeholder="Nombre" formControlName="nombre">
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="$event.stopPropagation(formGroup.get('nombre').reset())"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="col-5" [formGroup]="formGroup">
      <mat-form-field class="w-100">
        <input matInput placeholder="Telefono"  formControlName="telefono">
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="$event.stopPropagation(formGroup.get('telefono').reset())"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

  </div>

  <div class="row justify-content-center">

    <div class="col-lg-5" [formGroup]="formGroup">
      <mat-form-field class="w-100">
        <input matInput placeholder="Ciudad"  formControlName="ciudad">
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="$event.stopPropagation(formGroup.get('ciudad').reset())"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="col-5" [formGroup]="formGroup">
      <mat-form-field class="w-100">
        <mat-label>Especie</mat-label>
        <mat-select formControlName="especie">
          <mat-option *ngFor="let esp of especie" [value]="esp.label">
            {{ esp.name }}
          </mat-option>
        </mat-select>
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="$event.stopPropagation(formGroup.get('especie').reset())"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

  </div>

  <div class="row justify-content-center">

    <div class="col-lg-5" [formGroup]="formGroup">
      <mat-form-field class="w-100">
        <input matInput placeholder="Raza"  formControlName="raza">
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="$event.stopPropagation(formGroup.get('raza').reset())"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="col-5" [formGroup]="formGroup">
      <mat-form-field class="w-100" >
        <mat-label>Tamaño</mat-label>
        <mat-select formControlName="tamano">
          <mat-option *ngFor="let tam of tamano" [value]="tam.value">
            {{ tam.label }}
          </mat-option>
        </mat-select>
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="$event.stopPropagation(formGroup.get('tamano').reset())"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

  </div>

  <div class="row justify-content-center">

    <div class="col-5" [formGroup]="formGroup">
      <mat-form-field class="w-100">
        <mat-label>Edad</mat-label>
        <mat-select formControlName="edad">
          <mat-option *ngFor="let ed of edad" [value]="ed">
            {{ ed }}
          </mat-option>
        </mat-select>
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="$event.stopPropagation(formGroup.get('edad').reset())"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="col-lg-5" [formGroup]="formGroup">
      <mat-form-field class="w-100">
        <input matInput placeholder="Color" formControlName="color">
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="$event.stopPropagation(formGroup.get('color').reset())"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

  </div>

  <!-- [disabled]="registerForm.invalid" -->
  <div class="row justify-content-center mt-3 mb-3">
    <button mat-raised-button color="primary" class="col-4 align-center mr-2" (click)="register()" [disabled]="this.formGroup.invalid">Registrar Adoptante</button>
    <button mat-raised-button color="primary" class="col-4 align-center ml-2" routerLink="/dashboard">Volver</button>
  </div>

</mat-card>
